body{
	max-height: 800px;
	max-width: 100%;

}

*{
  box-sizing: border-box;
}

.navbar-inverse{
  background-color: #2e3c50;
}

.navbar-inverse .navbar-nav>li>a{
  color:white;
}

.navbar-inverse .navbar-brand{
  color:yellow;
  font-weight: bold;
}

.nav .navbar-nav a:hover{
  color:yellow;
}

.col-md-6 h1{
  transition: 1s;
  transform-origin: left;
  transform: scaleX(1);
}
.content{
  width: 100%;
  height: 700px;
  border:1px solid black;
  padding-top: 2px;
  margin:0 auto;
  position:relative;
  font-family: 'Righteous';
}
.content img{
  width:100%;
  height:100%;
  position:absolute;

}
.content>.btn{
  position:absolute;
  width:50px;
  height:50px;
  border:none;
  border-radius:25px;
  top:400px;
  background:black;
  color:white;
  font-size:20px;
}
.content>#btn1:hover{
	box-shadow: 10px 0px 20px 0px black;
  }
  
.content>#btn2:hover{
	box-shadow: -10px 0px 20px 0px black;
  }

.content>#btn2{
  position:relative;
  float:right;

}

.block1{
  background-color: gold;
  height: 40px;
  width: 200px;
}

.block1 h3{
  text-align: left;
  margin-left:10px;
  padding-top: 10px;
}

#about{
  font-size: 18px;
  margin-top: 10px;
  margin-left:14px;
}

.row{
  margin-top: 10px;

}

.row .col-md-4{
  margin-top:5px;
}

.section-4{
  background-color: #2e3c50;
  margin-top: 15px;
}

.section-4 .row .col-md-7, .col-md-5{
      color:white;
      margin-top: 5px;
      margin-bottom: 15px;

}
.section-4 h3{
      color: yellow;

}

.section-4 .para-1{
      color: white;
      font-family:'Roboto Condensed';
      margin-top: 4%;
      font-size: 30px;
}

footer{
  clear: both;
  margin-top:5px;
  top:10%;

}

.nav-links{
  
  background-color: #2e3c50;
  border-top: 1px solid black; 

}

.nav-links p{
   padding-bottom: 5px;
   color: white;
   text-decoration: none;
}

#copyright{
  margin-top:10px;
  text-align:center;
}

/* hide the content of the Div */
#box1{
  display: none;
}

#box2{
  display: none;
}